<div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li id = 'filterTab'><a href="#filter" role="tab"><i class="fa fa-filter"></i></a></li>
            <li id = 'infoTab'><a href="#info" role="tab"><i class="fa fa-info"></i></a></li>
            <li><a href="#link" role="tab"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#git" role="tab"><i class="fa fa-github"></i></a></li>
        </ul>

        <ul role="tablist">
        </ul>
    </div>
    <!-- Tab panes -->
    <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
            <h1 class="sidebar-header">
                Refugee Info Map
                <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
            </h1>
            <h2> Search </h2>

            <div>
                <div id="searchBox">
                    <form id="searchform"> <!-- Die Get Funktion wird in der ready funktion deklariert-->
                        <input type="text" name="searchInput" id="searchInput"> <br>
                        <button type="submit">Suchen</button>
                        <br>
                        <button type="button" onclick="resetMapContent()">Filter zurück setzen</button>
                    </form>
                </div>

            </div>
            <table id="example" class="display" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>name</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>name</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="sidebar-pane" id="filter">
            <h1 class="sidebar-header">Filtern Sie die Einträge<span class="sidebar-close"><i
                    class="fa fa-caret-left"></i></span></h1>
            <div>
                <h3>Filter</h3>
                <div>
                    <form id="filterFormCatagory" action="/filterFormCatagory" method="post">
                        <label for="filterOptions">Filter Optionen Kategorie</label>
                        <select id="filterOptions" name="filterOptions">
                            <option value="Behoerde">Behoerde</option>
                            <option value="Fluechtlingshilfe">Fluechtlingshilfe</option>
                            <option value="Initiativen">Initiativen</option>
                            <option value="Vereine">Vereine</option>
                            <option value="Projekte">Projekte</option>
                            <option value="Krankenhaus">Krankenhaus</option>
                        </select></br>
                        <button type="submit">Filtern</button>
                    </form>
                    <form id="filterFormTheme" action="/filterFormTheme" method="post">
                        <label for="filterOptionTheme">Filter Optionen Thema</label>
                        <select id="filterOptionTheme" name="filterOptionTheme">
                            <option value="Freizeit">Freizeit</option>
                            <option value="Beratung">Beratung</option>
                            <option value="Bildung">Bildung</option>
                            <option value="Treffpunkt">Treffpunkt</option>
                            <option value="Kultur">Kultur</option>
                        </select></br>
                        <button type="submit">Filtern</button>
                        </br>
                    </form>
                </div>
                <div>
                    <button type="button" onclick="resetMapContent()">Filter zurücksetzen</button>
                </div>
            </div>
        </div>

        <div class="sidebar-pane" id="info">
            <h1 class="sidebar-header">Informationen<span class="sidebar-close"><i
                    class="fa fa-caret-left"></i></span></h1>
            <p>Klicken Sie in der Karte auf ein Pop-up, um sich Informationen anzeigen zu lassen.</p>
            <div id="informationInfo">
            </div>

            <div class = "hidden" id="institution">
                <form role="contributionForm" id="contributionForm" enctype="multipart/form-data"
                      class="form-horizontal">
                    <!-- onsubmit="addMarker(name, adress, category, theme, descript, website, mail, telefon, words, x, y)"-->
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Name: </strong></label>
                        <input type="text" placeholder="Name" vale="name" id="name" name="name" class="form-control"/>
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Adresse: </strong></label>
                        <input type="text" vale="name" placeholder="Adress" id="adress" name="adress" class="form-control"/>
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Kategorie: </strong></label>
                        <select class="form-control" id="category" name="category">
                            <option value="Behoerde">Behoerde</option>
                            <option value="Fluechtlingshilfe">Fluechtlingshilfe</option>
                            <option value="Projekte">Projekte</option>
                            <option value="Initiativen">Initiativen</option>
                            <option value="Vereine">Vereine</option>
                            <option value="Krankenhaus">Krankenhaus</option>
                        </select>
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Themen: </strong></label>
                        <select class="form-control" id="theme" name="theme">
                            <option value="Freizeit">Freizeit</option>
                            <option value="Beratung">Beratung</option>
                            <option value="Bildung">Bildung</option>
                            <option value="Treffpunkt">Treffpunkt</option>
                            <option value="Kultur">Kultur</option>
                            <option value="Krankenhaus">Krankenhaus</option>
                        </select>
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Beschreibung: </strong></label>
                        <textarea class="form-control" rows="6" placeholder="Beschreibung" id="descript"
                                  name="descript" vale="name" >...</textarea>
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Website: </strong></label>
                        <input type="text" min="0" placeholder="Website" class="form-control" id="website"
                               name="website" vale="name">
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>E-Mail: </strong></label>
                        <input type="e-mail" min="0" placeholder="E-Mail" class="form-control" id="mail" name="mail" vale="name">
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Telefon: </strong></label>
                        <input type="number" min="0" placeholder="Telefon" class="form-control" id="telefon"
                               name="telefon" vale="name">
                    </div>
                    <div class="form-group-pop-up">
                        <label class="control-label col-sm-5"><strong>Schlagwörter: </strong></label>
                        <input type="text" min="0" placeholder="Schlagwörter" class="form-control" id="words"
                               name="words" vale="name">
                    </div>
                    <div class="form-group-pop-up">
                        <input type="hidden" min="0" placeholder="X" class="form-control" id="x" name="x">
                    </div>
                    <div class="form-group-pop-up">
                        <input type="hidden" min="0" placeholder="Y" class="form-control" id="y" name="y">
                    </div>
                    <div class="form-group-pop-up">
                        <div style="text-align:center;" class="col-xs-e4">
                            <button type="button" class="btn btn-primary" onclick="cancelContribution()">
                                Abbrechen
                            </button>

                            <button type="button" value="button" class="btn btn-primary trigger-submit"
                                    onclick="updateInstitution()">Speichern
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="sidebar-pane" id="link">
            <h1 class="sidebar-header">Kontakt<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
            <div id="contactNav">
            </div>
        </div>

        <div class="sidebar-pane" id="git">
            <h1 class="sidebar-header">GitHub repository<span class="sidebar-close"><i
                    class="fa fa-caret-left"></i></span></h1>
            <h3>For feedback or further development see our GitHub repository
                <a href="https://github.com/SarahLechler/refugeeInfoMap"> here.</a>
            </h3>
        </div>


    </div>
</div>
<div id="map" class="sidebar-map"></div>

<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/esri-leaflet"></script>
<script src="../js/leaflet-sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.9/leaflet-routing-machine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/perliedman-leaflet-control-geocoder/1.6.0/Control.Geocoder.min.js"></script>
<script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
<script src="../js/dataParser.js"></script>
<script src="../js/map.js"></script>
<script src="../js/withoutLogin.js"></script>
<script src="../js/mapConfig.js"></script>
<script src="../js/handleSearchResult.js"></script>
<script src="../js/index.js"></script>