<h2 class="page-header">Login</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Benutzername</label>
    <input type="text" class="form-control" name="username" placeholder="Benutzername">
  </div>
  <div class="form-group">
    <label>Passwort</label>
    <input type="password" class="form-control" name="password" placeholder="Passwort">
  </div>
  <button type="submit" class="btn btn-default">Einloggen</button>
</form>